.main-container-cart {
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    display: flex !important;
    width: 100% !important;
    padding: 10px;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.btn-order {
    border-radius: 5px;
    color: black;
    width: 350px;
    background-color: white;
    padding: 8px;
    border: 1px solid black;
}

.white {
    color: white;   
}

.m-top-10 {
    margin-top: 10px;
}

.wrapper {
    min-height: 500px !important;
}